
:root {
    --dark: #191a1a;
    --light: #f8f5eb;
    --main: #016463;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light);
    color: var(--dark);
}

.container {
    padding: 20px;
}

header {
    background-color: var(--light);
    color: var(--dark);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}


.about-section {
    padding: 50px 0;
    background-image: url('./assets/Designer.jpeg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
}

.about-section h2 {
    font-size: 24px;
    color: var(--main);
    background-color: var(--light);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    display: inline-block;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    background-color: var(--light);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    display: inline-block;
}

footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 20px 0;
}
